<div class="module blogger">

	<div ng-controller="bloggerCtrl">
		<koa-item ng-if="message">{{message}}</koa-item>
		<pre ng-if="err">{{err|json}} </pre>

		<koa-card ng-if="blog" heading="{{blog.name}}">

		<div class="card-content">{{blog.description}}</div>
		<ul>
			<div ng-repeat="post in posts.items">
				<blog-post post=post link=blogger.modulescope.singleurl>
		  		  <li><a href="#"><article>{{post.title}}</article></a></li>
				</blog-post>
			</div>
		</ul>
		</koa-card>

	</div>

</div>